<% layout("/layouts/boilerplate") %>
<body>
    <br>
    <div class="row">
        <div class="col-10 offset-2">
            <form method="POST" action="/listing/<%= list._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" class="form-control" value="<%= list.title %>" required>
                    <div class="valid-feedback">
                        looks good
                   </div>
                   <div class="invalid-feedback">
                       Please enter valid title
                  </div>
                    <br>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control"><%= list.description %></textarea required>
                        <div class="valid-feedback">
                            looks good
                       </div>
                       <div class="invalid-feedback">
                           Please enter valid description
                      </div>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" type="number" class="form-control" value="<%= list.price %>" required>
                    <div class="valid-feedback">
                        looks good
                   </div>
                   <div class="invalid-feedback">
                       Please enter valid price
                  </div>
                </div>
                <div class="mb-3">
                    <h4>Original</h4>
                    <img src="<%= list.image.url %>"   alt="listing_image" style="height: 10rem; width: 20rem;" />   
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload new Image</label>
                    <br>
                    <input type="file" name="listing[image]" class="form-control" placeholder="Enter image URL"  >
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" class="form-control" value="<%= list.location %>" required>
                    <div class="valid-feedback">
                        looks good
                   </div>
                   <div class="invalid-feedback">
                       Please enter valid location
                  </div>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" class="form-control" value="<%= list.country %>"required>
                    <div class="valid-feedback">
                        looks good
                   </div>
                   <div class="invalid-feedback">
                       Please enter valid country
                  </div>
                </div>
                <br>
                <button type="submit" name="saveButton" class="btn btn-primary">Save</button>
            </form>
        </div>
        </div>
    </div>
</body>
</html>
