<% layout("/layouts/boilerplate") %>
<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
  }
  .filter {
    text-align: center;
    margin-right: 3.5rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }
</style>

<body>
  <div id="filters">
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-water"></i></div>
      <p>Surfing</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-city"></i></div>
      <p>Amazing cities</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-umbrella"></i></div>
      <p>Beach</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-cow"></i></div>
      <p>Farms</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain"></i></div>
      <p>Lake</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-fort-awesome"></i></div>
      <p>Castles</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-tree"></i></div>
      <p>Forest</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Pool</p>
    </div>
  </div>
  
  <br>
  <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
    <% for (let listing of listings) { %>
      <div class="card col listing-card" style="width: 21rem;">
        <a href="/listing/<%= listing._id %>" class="show">
          <img src="<%= listing.image[0].url %>" class="card-img-top" alt="listing_image" style="height: 20rem;" />
          <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <p class="card-text"><i><%= listing.description %></i> 
              <br>&#8377;<%= listing.price.toLocaleString("en-IN") %> / night</p>
            <p class="card-text">Location: <%= listing.location %>, <%= listing.country %></p>
            <a href="/listing/<%= listing._id %>" class="btn btn-dark">Show in Detail</a>
          </div>
        </a>
      </div>
    <% } %>
  </div>
</body>
